.main {
    composes: ml-4 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';
    composes: mb-8 from '@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css';

    width: 265px;
}

.counter {
    position: relative;
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price {
    display: flex;
}

.textDiv {
    display: flex;
    justify-content: center;
    text-align: center;
}