.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;
    column-gap: 60px;
}

.sectionCards {
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
}

.orderCards {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    max-height: 812px;
    overflow-y: scroll;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
    width: 100%;
    max-width: 584px;
}

.orderCards::-webkit-scrollbar {
    background: #2F2F37;
    max-height: 640px;
    width: 8px;
}

.orderCards::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
    height: 640px;
    width: 8px;
}

.orderCards::-webkit-scrollbar-track {
    background: #2F2F37;
}

.sectionOrders {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    align-items: start;
    max-width: 600px;
    width: 100%;
}

.orderStatus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    row-gap: 36px;
}

.ordersBoard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 580px;
    width: 100%;
}

.ordersBoard_done {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    row-gap: 8px;
    column-gap: 8px;
    grid-auto-flow: column;

}

.ordersBoardList_done {
    color: #00CCCC;
}

.ordersTotal {
    display: flex;
    flex-direction: column;
    align-items: start;
}
