.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.ingredients {
    display: flex;
    justify-content: space-between;
    width: 508px;
}

.photo {
    width: 480px;
    height: 240px;
}

.ingredients_section {
    display: flex;
    flex-direction: column;
    align-items: center;

}
